#clock {
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
  margin-top: 300px;
  margin-left: 300px;
  margin-right: 300px;
  color: rebeccapurple;
  border: 1px solid blue;
  background-color: rgb(222, 248, 239);
  
  text-align: center;
}
